.NavigatePhotos {
  margin-left: 20px;
  width: 260px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 23px;
  background-color: #e1ff68;
  box-shadow: 5px 7px 20px 1px rgba(0, 0, 0, 0.25);
}
.NavigatePhotos .Photos {
  margin-top: 35px;
  margin-bottom: 10px;
}
.NavigatePhotos .Txt {
  color: #000518;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.7px;
}
